[2016-03-15 02:00] kissgyorgy opened #4 "Unavailable scaffolds: websauna_app with pcreate after clean install"
After installing websauna, and running pcreate, this is what I got:
[code]
I installed from github with pip:
```(venv) $  pip install "git+ssh://github.com/websauna/websauna.git@master#egg=websauna"```

[2016-03-15 02:22] kissgyorgy commented on #4
I don't know what's the difference between `pip install -e ` and `python setup.py develop` which causes this to break but installing from source with `python setup.py develop` solves this.

[2016-03-15 02:22] #4 closed

[2016-03-15 02:47] kissgyorgy opened #6 "ws-db-shell throws FileNotFoundError"
[code]

Do you have any idea?

I have heavy symlink usage in my home directory, this might cause the problem, but still should be able to start.

[2016-04-01 20:49] tareqalam opened #7 "error running pip install websauna"
(venv)  xxx@xxx  ~/DATA/webprojects/myproject  pip install websauna
Collecting websauna
  Could not find a version that satisfies the requirement websauna (from versions: )
No matching distribution found for websauna
Any idea why its happening?
but this seems working:
pip install -e "git+https://github.com/websauna/websauna.git@master#egg=websauna"

[2016-04-04 04:51] tareqalam opened #9 "ipython - obj is not defined"
https://websauna.org/tutorials/gettingstarted/tutorial_06.html
here obj is not defined
![default-3980290186366180505_-_2016-04-04_10 49 45](https://cloud.githubusercontent.com/assets/934703/14238423/074029be-fa53-11e5-8870-1e61b98a284d.png)

also could see when i tried the code:
![default-3980290186366180505_-_2016-04-04_10 48 31](https://cloud.githubusercontent.com/assets/934703/14238433/1716341e

[2016-04-04 12:34] tareqalam opened #11 "Can not find how to make model appear in admin interface"
https://websauna.org/tutorials/gettingstarted/tutorial_09.html here in documentation:
For each model appearing in the admin interface a corresponding resource class must be created in admins.py file. question is: how to do that .. cant find an example for "Questions" model

[2016-04-04 14:00] miohtama commented on #6
Sorry for not seeing new tickets earlier!

Does `pgcli` command standalone, not through Websauna, work with you?

If not this might be an issue with upstream package.

If it works then I'll try to figure out how to repeat.

[2016-04-04 14:01] miohtama commented on #7
This is because `websauna` package has not been released on PyPi yet and only available as version zero (unrelease) on Github.

[2016-04-04 14:01] #7 closed

[2016-04-04 17:26] kissgyorgy commented on #6
Ok, `pgcli` did not start, but after fixing it, now throws this:
[code]

[2016-04-05 03:35] miohtama commented on #6
The module is there: https://github.com/websauna/websauna/tree/master/websauna/system/devop/scripts

Try import the module in question from the Python shell within virtualenv.

If it doesn't work then nuke your virtualenv and reinstall everything.

[2016-04-05 14:53] msander opened #12 "Redis Connection Check not working for remote Host"
When changing the redis connection parameters, the sanity check does not work anymore.
I disabled it in my application using

init._has_redis_sessions = False

[2016-04-10 16:55] miohtama commented on #12
@msander: Ok I'll fix this. Can you clarify what kind of parameters you are using so I can repeat 1:1?

[2016-04-10 18:09] miohtama opened #16 "Make it possible for pytest-splinter via settings files"
Currently upstream pytest-splinter supports only configuration via command line.

Our hack: https://github.com/websauna/websauna/commit/4f06651f1a9447e95172c052e86bbc7586257dca

[2016-04-10 18:42] #9 closed

[2016-04-10 19:27] miohtama commented on #11
This is fixed in 4da854aea425550a5856ff56063be56996e11eeb.

Please revisit documentation now here https://websauna.org/tutorials/gettingstarted/tutorial_09.html and see if you can complete the tutorial.

Ask if anything is still unclear regarding this page.

[2016-04-10 19:27] #11 closed

[2016-04-18 17:26] miohtama opened #17 "Make default wb-db-shell session transactions"
The default pgcli is immediate commit mode.

Make this transactional, so that explicit commits are required to make any changes.

[2016-04-20 18:26] arianmaykon opened #18 "[Feature] Allow use of translations (i18n)"
I know this can already be some planned feature, but it would be nice to have support for translations.

I have 3 more questions to add (not necessarily related and not necessarily right), not sure if i should create issues for them:

1. [Deform probably supports this, but i'm not sure, i'm new to Python, sorry :P] Allow customization of form (mostly login form) in the sense of buttons/text custom

[2016-04-20 19:10] miohtama commented on #18
👍 Definitely good questions.

I will set up IRC channel and answer these later today.

[2016-04-20 21:31] arianmaykon commented on #18
I have a new more questions, maybe i'll drop them later.

[2016-04-20 22:06] arianmaykon opened #19 "Wrong view block used on doc and admin"
Docs and admin sub-templates are using a `custom_script` block when the correct block name on `base.html` is the `extra_body_end`.

Check the files below:
[code]

[2016-04-21 15:47] miohtama commented on #19
Thanks for the fix!

[2016-04-21 15:47] #19 closed

[2016-04-21 15:47] miohtama commented on #18
#3 is now being addressed https://github.com/websauna/websauna/commit/938320151c9ff6af5072cf200890bb9411a853c6

[2016-04-21 15:51] miohtama commented on #18
I will address #1 with a paragraph in documentation.

[2016-04-21 16:25] miohtama opened #22 "How do disable IPython Notebook"
So that menu does not appear.

Update documentation.

[2016-04-21 16:33] miohtama opened #23 "Clean up deployment documentation"
Making it 1, 2, 3... and leave in-depth information for "Advanced learners"

[2016-04-21 21:05] miohtama opened #24 "Better output for console scripts"
`ws-alembic` etc. use a console logger instead of logger from INI file.

[2016-04-22 01:10] miohtama commented on #18
For 1. the mechanism to override is now available in #25. I'll still cover this in documentation.

[2016-04-22 19:04] miohtama commented on #18
An example of login form customization is added in 60339d279f045292bcdf8a5775b91ec0cb134ecc.

Please see https://websauna.org/narrative/user/customize.html#customizing-user-forms

Please comment and add questions if something is still unclear.

I am going to close this issue and open a separate for i18n.

[2016-04-22 19:04] #18 closed

[2016-04-22 19:05] miohtama opened #27 "i18n"
For translating Websauna projects

* Provide toolchain
* Provide documentation
* Have default templates translated

[2016-04-22 19:41] #22 closed

[2016-04-22 19:42] miohtama commented on #6
Any more input on this?

[2016-04-22 19:45] miohtama opened #28 "Document blocks inside template"
Modify template document generation to produce documentation for blocks too.

[2016-04-24 16:30] miohtama opened #29 "Replace pcreate with cookiecutter"
Move to cookiecutter as it provides more robust scaffolding system.

[2016-04-25 22:00] arianmaykon commented on #18
Great, thanks a lot!

[2016-04-27 18:41] miohtama commented on #12
Fixed in 3f96a7652a7721c5f3c0fac064594bfa18e8e436.

[2016-04-27 18:41] #12 closed

[2016-04-28 20:14] ncouture commented on #24
Can you provide any additional details you think are essential to resolve this issue?

[2016-04-28 21:26] miohtama commented on #24
[ ] create a `setup_console_logging` function in websauna.system.devop.cmdnline
[ ] see guidelining example https://bitbucket.org/miohtama/cryptoassets/src/84ed4ff5e18c221ad0c13c73695cc34c9ff17ec4/cryptoassets/core/service/defaultlogging.py?at=master&fileviewer=file-view-default#defaultlogging.py-10
[ ] replace current setup_logging methods in console scripts with setup_console_logging
[ ] make su

[2016-04-29 10:51] ncouture commented on #24
I tried to remove all console loggers from development.ini but was unable to force one logger on all console scripts that way without making too many modifications.

Here's a small patch that provides better formatting for all console scripts:
[diff-b518bf58863f887889dedfc86b59611b73cb8347-setup_console_logging.txt](https://github.com/websauna/websauna/files/242158/diff-b518bf58863f887889dedfc86b5

[2016-04-29 14:18] miohtama commented on #24
Thanks. You can open a Github pull request to discuss about the patch, so I can add comments per each line. 1. Fork this repo 2. Push change into your own work 3. Press create Pull request button in Github UI.

It's ok to modify all console scripts. Heavy modifications are needed, because separate console logging system has not been in place before, but one is definitely needed.

[2016-04-29 14:38] miohtama opened #37 "Cut down dependencies"
Currently IPython is pulling in tons of dependencies which might or might not be useful.

Many users find this as extra truckload of crap.

Make IPython installation optional and have graceful errors telling users "no you cannot use autocomplete shell" if IPython is not installed.

[2016-04-29 14:47] miohtama commented on #37
See http://stackoverflow.com/questions/36941264/negative-extra-requires-in-python-setup-py

[2016-04-30 12:42] enkidulan commented on #37
I believe that jupyter notebook and ipython should be moved out of websauna at all into separate package, the reasons for these are:
   1. jupyter notebook is a black hole in security that allows any kind of injection including command injection.
   2. it make deployment of simple servises much harder because of tons heavy dependencies that notebook brings.

Actually while playing around websauna

[2016-05-03 09:54] ncouture opened #38 "Form documentation pyramid_deform usage inconsistencies"
In at least one [document](https://github.com/websauna/websauna/blob/master/docs/source/narrative/form/form.rst), example code demonstrates the use of ``pyramid_deform.CSRFSchema`` even though it is not made available in their import statements.

Should ``pyramid_deform.CSRFSchema`` be replaced by ``deform.Form``?

[2016-05-04 01:27] miohtama commented on #38
Yes. I have been hunting down these old references, as `pyramid_deform` is no longer maintained, but some slipped through.

Please use Edit on Github button on documentation and submit a fix.

Thank you! 🍻

[2016-05-06 22:41] miohtama opened #39 "Relative links in static assets do not work"
Consider in CSS file:

      div { background-image: url('../img/test.jpg'); }

There is test.1239afadsfasdf.jpg hashed file, but no test.jpg.

[2016-05-06 22:42] miohtama commented on #37
Thanks for the good feedback!

I'll hope to move IPython to a separate dependency this weekend.

[2016-05-06 22:44] miohtama commented on #37
For buttons the long term plan is to move from hardcoded slots to pyramid_layout panels, so that addons can easily contribute there.

[2016-05-07 16:37] enkidulan commented on #37
:beer pyramid_layout seems to be a cool thing. I hope my changes would be helpful at some point, unfortunately I haven't got  any time to get my changes to the good point this week.... anyway let me know if I can assist with that :)

[2016-05-07 20:29] enkidulan commented on #37
I guess I've done with moving notebook out form websauna, what I wasn't able to achieve are:
* adding 'shell' link to main nav-bar. Probably make sense to do it dynamically after integrating pyramid layout.
* I left acl's entries `(Allow, 'superuser:superuser', 'shell')` because I thing that is a good permision to have in a system and which may be used by other addons as well.

What was done:
* mo

[2016-05-08 17:42] miohtama commented on #37
@enkidulan Can you open a pull request any case? I'll pick where you left.

I am going to have "features" system ready which allows you to control links contributed by addons, and various other aspects later this week.

[2016-05-09 10:45] miohtama opened #40 "Autodetecting ws-alembic package name doesn't work for addon packages"
It picks only myaddon from websauna.myaddon.

[2016-05-10 04:28] miohtama opened #43 "Have a fixture to create a test Facebook user"
Now we use environment variables for FB username and password.

Instead do this: https://developers.facebook.com/docs/apps/test-users?locale=en_US

[2016-05-10 10:13] miohtama opened #44 "pyramid_celery doesn't handle always_eager"
https://github.com/sontek/pyramid_celery/pull/57

[2016-05-10 10:16] miohtama commented on #38
Fixed.

[2016-05-10 10:16] #38 closed

[2016-05-10 10:19] miohtama commented on #44
Workaround:

      pip install -e "git+git@github.com:websauna/pyramid_celery.git#egg=pyramid_celery"

[2016-05-11 10:46] miohtama opened #45 "created_at and updated_at show in the generated model admin"
Make sure that Columns with default values don't show on the add form.

Make sure that Columns with onupdate value do not show on add or edit form.

[2016-05-11 19:48] miohtama opened #46 "zope.sqlalchemy + sqlalchemy 1.1"
https://github.com/zopefoundation/zope.sqlalchemy/pull/16

[2016-05-26 17:46] ncouture opened #49 "documentation: hosts.ini for ansible >=2 (ansible_ssh_user vs ansible_user)"
~~ansible_ssh_user~~ becomes _ansible_user_ in ansible 2.0 (see ansible [documentation note](http://docs.ansible.com/ansible/intro_inventory.html#list-of-behavioral-inventory-parameters)).

The Websauna [documentation](https://github.com/websauna/websauna/blame/92ddbba6096b4a7f3964fb30001b599f72c31160/docs/source/tutorials/deployment/usage.rst#L87.
) uses _ansible_ssh_user_.

Using the example hos

[2016-05-27 00:12] ncouture opened #50 "documentation: secrets.yaml smtp_host vs smtp_server"
The documentation [suggests](https://github.com/websauna/websauna/blame/4db1fc9803bd1f94112cea1dcdbf2d231f2056b1/docs/source/tutorials/deployment/email.rst#L37) using smtp_host, this results in an error when running the myapp playbook when following the production deployment instructions.

Using smtp_server solves this error.

[2016-05-30 17:05] arianmaykon opened #51 "Forbidden redirects (403) should be configurable to redirect to login and use requested url after login"
A nice feature some frameworks/systems have is when you request a resource without being logged, you get redirected to login page, and after logged in the systems "resumes" the original request redirecting you to it.

Its more like a improvement.

[2016-07-12 21:26] miohtama opened #55 "In tutorial_10, route detail is not yet defined when it's referred in a template above"
Hi, I'm working through the tutorial right now - could work around some issues, but stuck in the middle of tutorial_10, it throws KeyError: 'No such route named detail'

[2016-07-13 07:50] frispete commented on #55
Okay, got the concept, one has to go through the whole tutorial page.

There's a minor glitch in the myapp/detail.html template: s/question.choice_set.all/question.choices/
to get it going.

Another issue on tutorial_11: 'detail' is called 'vote' now

[2016-07-13 10:13] miohtama commented on #55
@frispete Excellent feedback. Will fix this too.

[2016-07-13 11:18] frispete commented on #55
@miohtama: beware, I'm in the process of going through the tutorial with rephrasing and fixing... Expect my PR later today :) Do you prefer single per file commits, or one bigger commit?

[2016-07-13 15:04] frispete commented on #55
Here's a first pass as RFC:
[tutorial.diff.txt](https://github.com/websauna/websauna/files/361749/tutorial.diff.txt)

[2016-07-14 00:46] miohtama commented on #55
@frispete Any pull request is welcome :) I do not have any preferences in the commit style as this is such a small project.

[2016-07-20 10:56] enkidulan opened #57 "Docs says to use `decode_uuid` but it's missing from codebase"
Example app https://github.com/websauna/myapp uses `slug_to_uuid` but docs says to use `custom_predicates=(decode_uuid,)`.

[2016-07-20 13:54] miohtama commented on #57
I removed the predicate as it turned out to be a bad practice. Cleaning up docs now.

[2016-07-20 13:57] miohtama commented on #57
Fixed in #58a48e7da7d74c34ad05440c36964681b782736b

[2016-07-20 13:57] #57 closed

[2016-07-21 08:58] enkidulan commented on #57
Docs on server doesn't seem to be updated, check this page https://websauna.org/narrative/form/autoform.html#rolling-out-your-own-view-with-field-mapper:

[code]

[2016-07-21 15:54] miohtama commented on #57
Thanks! Let me push update later today.

[2016-07-28 16:05] SinHouse opened #58 "documentation: Add a frontend traversal example"
Documentation mentions a possible use of traversal view with an admin backend resource [here](https://websauna.org/narrative/view/views.html#id5) but I don't understand how use this Resource class in a frontend case.

Thanks,

[2016-08-13 23:19] traubas opened #59 "Error while installing websauna on ubuntu 16.04"
while following instructions to install websauna,
i tried to install but was unable to complete because of a missing dependency

a quick look by your friend
Sivan Greenberg
and he found out the package missing is:
libffi-dev

after running:
sudo apt-get install libffi-dev

the install could complete successfully.

[2016-10-22 17:49] enkidulan opened #64 "Incorect location of alembic migrations folder"
When following [tutorial instructions](https://websauna.org/tutorials/gettingstarted/tutorial_04.html) getting this error:

    FAILED: Path doesn't exist: 'alembic'.  Please use the 'init' command to create a new scripts folder.

The reason is that app scaffold [puts alembic migrations](https://github.com/websauna/websauna/tree/master/websauna/scaffolds/app?rev=54d0b02) on same level with `setup.

[2016-10-24 13:54] tmbb opened #67 "tutorial_10: decode_uuid does not exist"
At [tutorial_10](https://websauna.org/tutorials/gettingstarted/tutorial_10.html), we are told to import the function `websauna.system.core.route.decode_uuid()` which does not exist and which is supposedly a predicate. I managed to make it work by not using `decode_uuid()`, and changing the function to the following:

[code]

I will not submit a pull request because I'm not sure what the example wa

[2016-10-24 13:57] tmbb opened #68 "tutorial_10: error in detail.html"
rendering of the `'myapp/detail.html'` template fails with the following error:

[code]

I guess this is because the `Question` class attributes have been changed, and `choice_set` is now `choices`. My git archeology skills are not good enough to search for the changeset in which this was changed.

[2016-10-24 14:03] tmbb opened #69 "tutorial_10: talk about websauna's template context variables"
In the `question.html` template, the `uuid_to_slug` filter is used without being explicitly supploed as an argument. Even though this is probably obvious to anyone who has worked with Jinja2 before, in my opinion it would be good to talk about the fact that Websauna injects some variables and filters into the templates, and perhaps add a direct link to the relevant documentation section.

[2016-10-24 15:27] tmbb commented on #67
Also, in the tutorial version, `detail` accepts two arguments, the second of which is the `question_uuid`. I get an error in which according to inspection by the debug toolbar `request` is matched to the application Root and `question_uuid` is mapped to the request variable. i don't really understand why.

[2016-10-28 12:41] zupo commented on #29
@karantan and myself will be working on this

[2016-10-28 15:07] zupo opened #71 "Makefile for devs"
On the plone.api project we have had a Makefile for bootstrapping the dev environment and it is (in my view) probably one of the main reason why plone.api was able to be a community project and not a single-person-project almost from the start.

Shall we have the same for Websauna?

[2016-10-28 15:07] zupo commented on #71
Example of plone.api's Makefile: https://github.com/plone/plone.api/blob/master/Makefile

[2016-10-28 15:08] zupo commented on #71
Makefile that @miohtama used internally on one of the projects: https://gist.github.com/miohtama/9064050c651ee1b186a0a90b1f75ed06

[2016-10-28 15:09] miohtama opened #72 "Don't require manual CREATE EXTENSION IF NOT EXISTS "uuid-ossp""
Currently when running Websauna on PSQL database you want to use `uuid-ossp` extension for UUID column. However to get this support for the database one needs to run command:

[code]

This is an unnecessary manual step. Websauna should come with prepopulated Alembic migration script that does this as the initial Alembic migration.

`ws-sync-db` command already does this for you.

However one needs

[2016-10-28 15:27] zopyx opened #73 "Documentation: Postgres installation"
Perhaps you could add a section to installation notes how to install Websauna with a Dockerized
Postgres installation for the sake of making the initial setup less painless. Although the Postgres installation and setup is not that hard but it requires some manual steps. A setup with a well-defined Postgres Docker image might help here.

[2016-10-28 21:40] miohtama commented on #73
I'd love to. However I have zero Docker experience. I have only once during my life time run `docker run` command.

Furthermore the developer needs Redis, not just Docker. So this could be in the same image.

[2016-10-29 12:08] karantan opened #76 "Consistently use single or double queotes"
I'm not sure if this is on purpose but somewhere single quotes are used for strings and somewhere there are double quotes.

IMO it makes sense to use only single or only double quotes. Thoughts?

[2016-10-29 13:37] karantan commented on #29
Because cookiecutter supports fetching template via github we can actually move the scaffolds dir and create a seperate repo just for the scaffold. This way we will have even cleaner and smaller codebase.

Thoughts?

[2016-10-29 14:23] miohtama commented on #29
I am looking forward for this! Too bad I was not aware of cookiecutter when I started the project. There are two test modulse related to scaffolding that need to pass:

* test_scaffold_app

* test_scaffold_addon

If both passes we know new scaffolds work :)

[2016-10-29 14:23] miohtama commented on #29
Also putting scaffolds to separate git repo makes sense.

[2016-10-29 14:58] miohtama commented on #76
Double quotes should be the default.

If there a single quotes somewhere it's usually because

* The original source code comes from tutorials using single quotes

* Single quotes were in scaffold used to create Websauna

[2016-10-31 11:17] karantan commented on #76
OK so if I see single quotes I can replace them with double quotes? e.g. https://github.com/websauna/websauna/blob/master/websauna/utils/configincluder.py#L54

[2016-10-31 15:22] miohtama commented on #76
Yes please!

[2016-11-06 17:02] livike opened #77 "tutorial_02: installing-dependencies-on-osx ->DOC: python version"
1.
Which is the min required version of python?
If 3.4 then change the change the python 3.5 related example codes or change the explanation text to be unambiguous.

2.
The brew switch python3 python3.5.0 from the docs was not functional for me
needed to update the version and update the link like this:
[code]

[2016-11-06 17:12] livike opened #78 "tutorial_02:installing-websauna-python-package->DOC virtualenvwrapper"
Add in documentation example code for virtualenwrapper in case the user already uses it.
[code]

[2016-11-06 17:30] livike opened #79 "tutorial_02:installing-application-package->DOC specify paths for running the commands"
Add in the doc before the command codes to be run the exact directory from where must be runned.
For these commands:
`pip install -e "myapp[test]”` (runs only from the project directory)
`pip install -e "myapp[utils]”`
`ws-db-shell myapp/conf/development.ini`
for the ws-db-shell I had an error and needed to run the `pip install websauna[utils]`

[2016-11-06 17:41] livike opened #80 "tutorial_02:installing-dependencies-on-osx-> DOC run the homebrew services"
After installing the `brew install postgresql redis python3 libxml2` part ,add explanation which services needed to be running and how to run them.
[code]

[2016-11-06 19:10] livike commented on #80
I see now in source code the
.. code-block: console

    brew services start postgresql
    brew services start redis
part, but here are not visible...
http://websauna.org/docs/tutorials/gettingstarted/tutorial_02.html#installing-dependencies-on-osx

[2016-11-07 15:41] livike opened #82 "tutorial_08:playing-with-the-model-api-> DOC datetime"
The function is_recent() is getting an error because the datetime: "NameError: name 'datetime' is not defined"
I solved this by importing the datetime: `from websauna.utils.time import datetime, now`

However during the error I can see  in notebook session the datetime object...

[2016-11-08 11:54] tmbb opened #84 "Docs: sphinx can't get objects.inv"
Sphinx can't get `objects.inv` from websauna's docs (403 error). If you point the browser at
`https://websauna.org/docs/objects.inv` you can download the file without problems.

[2016-11-17 23:36] miohtama opened #85 "pyramid_mailer doesn't like Celery"
pyramid_mailer assumes thread local transaction manager. This does not work with Celery. You cannot rely on commit hook to send out email, because it's using wrong transaction manager.

See `send_templated_mail()` for the current workaround.

[2016-12-06 12:50] karantan opened #87 "TypeError: IContainer.items return value"
I think this is a bug. So in the interfaces we have `IContainer` interface that has `items` method which should return `Iterable[Tuple[str, ILocation]]` but when we test this in `sitemapsamples.SampleContainer` we expect `Iterable[Tuple]`.

code:
https://github.com/websauna/websauna/blob/master/websauna/system/core/interfaces.py#L70
tests:
https://github.com/websauna/websauna/blob/master/websauna/

[2016-12-06 13:06] JanLikar commented on #87
I'm fixing this.

[2016-12-06 15:06] miohtama commented on #37
@enkidulan Fixed in 56a41b0a473d0c83c435251a82ff8e490ff73ddf

[2016-12-06 15:06] #37 closed

[2016-12-06 15:50] #87 closed

[2016-12-06 15:52] miohtama commented on #84
Can you clarify what you are trying to do? Is this some Sphinx command you run?

[2016-12-06 15:54] miohtama commented on #82
I see import in tutorial_08 now, closing.

[2016-12-06 15:54] #82 closed

[2016-12-06 15:54] #80 closed

[2016-12-06 15:55] #79 closed

[2016-12-06 15:56] #78 closed

[2016-12-06 15:57] #77 closed

[2016-12-06 15:58] miohtama commented on #71
@karantan Let's add this to cookiecutter template after cookiecutter migration is working

[2016-12-06 16:19] #46 closed

[2016-12-06 16:22] miohtama commented on #50
Fixed in 64fd0970cce8b71d4f7de69f9ca5d507ee3040f3

[2016-12-06 16:22] #50 closed

[2016-12-06 16:24] miohtama commented on #69
Fixed in b25213b

[2016-12-06 16:24] #69 closed

[2016-12-06 16:25] miohtama commented on #45
Fixed now.

[2016-12-06 16:25] #45 closed

[2016-12-06 16:27] miohtama commented on #68
Fixed now.

[2016-12-06 16:27] #68 closed

[2016-12-06 16:28] miohtama commented on #67
Fixed now. This was due to old @simple_route behavior that now has been git rid off.

[2016-12-06 16:28] #67 closed

[2016-12-06 16:29] miohtama commented on #59
Fixed now in d01d18e

[2016-12-06 16:29] #59 closed

[2016-12-06 16:32] miohtama commented on #55
Closing this as fixed.

[2016-12-06 16:32] #55 closed

[2016-12-06 16:33] miohtama commented on #43
Closing this as unlikely to happen.

[2016-12-06 16:33] #43 closed

[2016-12-06 16:36] miohtama commented on #76
Closing this as ongoing process.

[2016-12-06 16:36] #76 closed

[2016-12-06 16:52] miohtama commented on #58
Thank you for the feedback. Now we have a better version of the page out https://websauna.org/docs/narrative/view/traversal.html

[2016-12-06 16:52] #58 closed

[2016-12-06 16:56] JanLikar commented on #64
The install instructions are now fixed in the master branch, but are not yet deployed to websauna.org, although it might still make sense to rearrange the file structure of a project.

[2016-12-06 17:05] JanLikar commented on #71
I think we should also add a Makefile for people who are working on Websauna (running tests can be tedious, it's nicer to write `make tests`)

[2016-12-06 17:06] miohtama opened #90 "Deprecate JSONPointer"
SQLAlchemy now supports natively referring to JSONB data:

http://docs.sqlalchemy.org/en/rel_1_1/changelog/migration_11.html#new-indexable-orm-extension

[2016-12-07 16:51] #90 closed

[2016-12-26 21:47] tmbb commented on #84
I'm running a simple ``make html`` using sphinx while using the following ``intersphinx_mapper``:

[code]

[code]
 When I access ``https://websauna.org/docs/objects.inv`` using the browser I can download the file without any problems. My workaround is to download the file using the browser and placing it at ``inventories/websauna/objects.inv``.
Then, I can add a local path for the intersphinx mapp

[2016-12-26 22:52] miohtama commented on #84
It must be Cloudflare.

[2016-12-26 22:56] miohtama commented on #84
I turned Cloudflare Security off. Please tell me if it runs for you for now.

[2016-12-27 22:10] Infernion commented on #85
@miohtama As I saw, bug related to the pyramid_mailer was closed. So is it mean that this issue no more exists for websauna?

[2016-12-27 22:59] miohtama commented on #85
I think I still need to update the function call to use new `pyramid_mailer` interface that passes transaction manager around.

[2016-12-28 19:32] highPriestLOL opened #94 "TinyMCE not working on production"
Works fine on localhost:
![localhost](https://cloud.githubusercontent.com/assets/940630/21529767/f57fb064-cd4c-11e6-86d9-42e56222ec46.png)

Broken on production:
![live](https://cloud.githubusercontent.com/assets/940630/21529770/f9d64920-cd4c-11e6-87e7-8c52e331c9ff.png)

The deform snippet rendering tinyMCE:
[code]

The 404 console errors on the live application show some plugin.js and theme.js no

[2017-01-03 23:16] mazz commented on #94
Looks like a path issue? Absolute vs relative or missing/extra '../' ?

[2017-01-06 19:45] miohtama opened #98 "SocialLoginMapper -> separate ABC and Interface to their own classes"
https://github.com/websauna/websauna/blob/master/websauna/system/user/social.py#L22

[2017-01-12 22:25] mazz opened #105 "Default bootstrap theme does not render full width on portrait iPhone 5S screen"
See screenshot. I believe this is alpha4. Landscape OK. MobileSafari iOS10

![img_0995](https://cloud.githubusercontent.com/assets/808934/21911016/98b047ee-d8ec-11e6-8953-ec6a8f3248e0.PNG)

[2017-01-13 02:19] miohtama commented on #105
I guess it is the link overflowing?

I know how to fix this, as I have hve this kind of issues hundreds of times. For HTML elements with very long words you need to force word break. In fact we might even need to fix this on Deform level.

[2017-01-14 19:59] mazz commented on #105
Yes I think it's the link overflowing.

detail.html:
[code]

[2017-01-14 21:41] mazz commented on #105
You know what, come to think of it if the cause the link overflow, this probably isn't a bug with websauna.

[2017-01-14 21:42] #105 closed

[2017-01-31 14:28] Infernion opened #109 "Enum field doesn't map to the select widget by automatically in the admin page"
When defining a model with some `Enum` column the select widget doesn't appears in the administrative panel.

[2017-02-14 19:37] highPriestLOL opened #113 "Error using FriendlyTimeColumn in listing"
[code]

[2017-03-05 15:26] miohtama opened #120 "Instructions how to use production-settings.ini file"
* How to create first secrets file

* How to use it with a playbook

[2017-03-12 14:05] enkidulan opened #121 "simple_route doesn't work with with class method"
In case of trying to use simple_route with class methods like that:

     class MyView:
        ...
        @simple_route("/document", route_name="document", renderer='myapp/document.html')
        def document(self):
            ...

route `document` doesn't become registered in `config` and `ws-proutes` (and in some cases`ws-pserve`) crashes with following message:

    Traceback (most recent ca

[2017-03-12 17:34] miohtama commented on #121
Interesting. This is definitely a bug. It has somehow slipped away all these months.

[2017-04-06 20:11] miohtama commented on #51
This is pretty straightforward, though not implement out of the box.

* Add a view handler for HTTPForbidden, similar to HTTP 500 and 404
* Render a login form on this page if the user is not authenticated (session expired?)
* When the user posts the form on Forbidden view then call:

[code]

I have happy to accept PR on this matter. The only reason the feature does not exist is my laziness.

[2017-05-12 20:08] #51 closed

[2017-05-16 03:53] corehack commented on #72
Please correct me if i'm wrong, I thought the extension was not needed since we can always safely generate UUID in the application.

[2017-05-16 13:44] corehack opened #124 "Consider using UUID primary key instead of secondary index"
Need to evaluate the option of using UUID primary key everywhere.

[2017-05-16 13:45] corehack commented on #124
Pros:
- ability to refer entities in distributed systems
- ability to prepare data for conflict-free insertion
- no need to depend on serial id in heterogeneous systems
- saving storage space because UUID will replace redundant serial pk

Cons:
- I've read that many years ago some DB engines could not implement UUID/GUID primary key index efficiently. However for modern engines this could be no lo

[2017-05-20 15:56] corehack commented on #124
Perf. optimization that could be a good idea also (haven't check its usefullness yet):
https://groups.google.com/d/msg/sqlalchemy/uq3xPCmAmN8/YgMNQ6KGBgAJ

[2017-05-25 10:58] highPriestLOL opened #126 "`make world` fails at running sphinx"
At [`make world`](https://websauna.org/docs/narrative/contributing/develop.html#building-docs) step of develop setup.

Sphinx version: 1.6.1
Python version: 3.5.2 (CPython)
Docutils version: 0.13.1 release
Jinja2 version: 2.9.6
Last messages:

# Loaded extensions:
Traceback (most recent call last):
  File "/opt/mapylons/websauna/websauna/venv/lib/python3.5/site-packages/sphinx/cmdline.py", line 30

[2017-05-31 04:50] corehack opened #127 "Community page link broken"
https://websauna.org/narrative/contributing/community.html gives 404

[2017-06-06 11:19] enkidulan opened #129 "user.is_admin() call breaks in production mode"
The traceback is:

      ...
        File ".../websauna-1.0a4-py3.6.egg/websauna/system/user/usermixin.py", line 144, in is_admin
          return self.is_in_group(GroupMixin.DEFAULT_ADMIN_GROUP_NAME)
        File ".../websauna-1.0a4-py3.6.egg/websauna/system/user/usermixin.py", line 134, in is_in_group
          for g in self.groups:
        File ".../SQLAlchemy-1.1.10-py3.6-linux-x86_64.egg/sqla

[2017-06-22 03:57] chancyk opened #130 "ws-pserve error after initial setup when using --reload"
I'm receiving the following error only with the `--reload` option. This is after going through to Getting Started tutorial up to https://websauna.org/docs/tutorials/gettingstarted/tutorial_05.html:

[code]

I'm running Linux Mint 18.1 and Python 3.5.

[2017-07-12 15:21] tmassman commented on #130
Having the same problem on MacOS. Removing `--reload` helps.

[2017-07-19 10:51] hsk-amboss opened #131 "ImportError: Error importing plugin "websauna.tests.fixtures": cannot import name '_getpathsec'"
with pyramid 1.9.1 running py.test fails

in ../websauna/system/devop/cmdline.py
`from pyramid.paster import bootstrap, setup_logging, _getpathsec
`

_getpathsec seems to not be supported anymore. Installing an older-version of pyramid (< 1.8) fixes the issue

[code]

[2017-07-25 00:17] Gjallarbru commented on #131
The following code doesn't exist in master for pyramid.paster 1.9, and it does in 1.8 (lines 54 to 61). Any import for _getpathsec will undoubtedly fail:

`def _getpathsec(config_uri, name):
    if '#' in config_uri:
        path, section = config_uri.split('#', 1)
    else:
        path, section = config_uri, 'main'
    if name:
        section = name
return path, section`

[2017-08-13 20:00] FaithfulAudio opened #132 "Built-In Rate Limit Decorator -- Enhancement"
Allow a websauna developer to impose a rate limit on a simple_route.

See http://flask.pocoo.org/snippets/70/

[2017-08-28 10:15] miohtama opened #134 "Document pagination"
Document how to use and disable pagination in crud.rst

[2017-10-02 16:16] s4g commented on #131
Just installed ws for the first time. Same error as above when attempting the initial migration from the tutorial:
 ws-alembic -c myapp/conf/development.ini -x packages=all revision --auto -m 'initial migration'

File ".../python3.6/site-packages/websauna/system/devop/cmdline.py", line 8, in <module>
    from pyramid.paster import bootstrap, setup_logging, _getpathsec
ImportError: cannot import na

[2017-10-02 16:17] miohtama commented on #131
We do not currently support Pyramid 1.9, but a patch is coming. Thank you for your patience.

[2017-10-02 20:46] s4g commented on #130
Same problem here. I had to add [server:main] section to development.ini with server parameters as well as copy [app:main] from base.ini. Looks like a problem with [include] section in ini files.

[2017-10-10 19:52] ericof commented on #113
Merged to master

[2017-10-10 19:52] #113 closed

[2017-10-11 16:24] ericof commented on #126
Due to this issue https://github.com/SurveyMonkey/pyramid_autodoc/issues/13

[2017-10-18 12:53] #29 closed

[2017-10-20 13:49] enkidulan opened #138 "`DefaultStaticAssetPolicy` breaks modern JS libs"
`bin/ws-collect-static` command renames static files, for example:
[code]
and it breaks modern JS libs that do relative submodules loading, like [ckeditor](https://github.com/ckeditor).

Related issue: https://github.com/websauna/websauna/issues/39

[2017-10-23 00:23] mazz opened #140 "Error with ws-create-user in production environment"
`kjvrvg` is the name of the webapp, but the ws-create-user command appears to look for logs in the conf dir:
[code]

[2017-10-27 12:44] ericof commented on #140
@mazz Could you, please, share your ini files? (sanitise any database connection string and secrets)
Also, which versions and how did you create your app?

[2017-11-05 21:46] Fazik opened #143 "Web shell issue on clean setup"
Hi,
I receiving next stack trace when trying to open shell in web on my user:
`
[23:43:02] [waitress service] Exception when serving /admin/models/user/puNWkjXkTACeZ8TRz34bcQ/shell
Traceback (most recent call last):
  File "/root/projects/cloudmigrate/venv/lib/python3.6/site-packages/waitress/channel.py", line 338, in service
    task.service()
  File "/root/projects/cloudmigrate/venv/lib/python3.

[2017-11-08 10:32] ericof commented on #126
We removed the dependency on pyramid_autodoc, and not it works

[2017-11-08 10:32] #126 closed

[2017-11-08 10:34] ericof commented on #131
Pyramid 1.9 is supported on master.

[2017-11-08 10:34] #131 closed

[2017-11-08 10:39] ericof commented on #130
With the support to Pyramid 1.9, this is fixed on master.

[2017-11-08 10:39] #130 closed

[2017-11-08 10:47] ericof commented on #129
Fixed in the latest master (1.0a5)

[2017-11-08 10:47] #129 closed

[2017-11-08 10:48] ericof commented on #127
The correct link is: https://websauna.org/docs/narrative/contributing/community.html
In the next release, documentation will fix that

[2017-11-08 10:48] #127 closed

[2017-11-08 10:49] ericof commented on #84
Working now

[2017-11-08 10:49] #84 closed

[2017-11-08 10:51] ericof commented on #143
@Fazik: Would you mind sharing the versions of:
* Websauna
* Pyramid
* pyramid_notebook

[2017-11-08 11:09] ericof commented on #121
@enkidulan: Could you test this with the latest master please?
Using the following code:

`
    from websauna.system.http import Request
    from websauna.system.core.route import simple_route

    class Views:

        def __init__(self, request: Request):
            self.request = request

        @simple_route("/", route_name="home", renderer='my.app/home.html')
        def home(self):

[2017-11-08 17:02] Fazik commented on #143
Sure @ericof

notebook (5.2.1)
websauna (1.0a4)
pyramid (1.8)
pyramid-notebook (0.2.1)

[2017-11-09 17:44] Fazik commented on #143
Maybe someone can provide with definitely working set of needed packages, so I will be able to check if this some env specific issue or just not correct versions?

[2017-11-09 17:57] ericof commented on #143
@Fazik Are you able to use the current development version?
`pip install -e "git+https://github.com/websauna/websauna.git@master#egg=websauna[celery,utils,notebook]"`

[2017-11-09 18:20] Fazik commented on #143
@ericof
Nope, the same error

[2017-11-09 19:19] Fazik commented on #143
Tried to downgrade python to 3.5
Sadly, but this is not the root cause
`Traceback (most recent call last):
  File "/root/myproject/venv/lib/python3.5/site-packages/pyramid/tweens.py", line 12, in _error_handler
    response = request.invoke_exception_view(exc_info)
  File "/root/myproject/venv/lib/python3.5/site-packages/pyramid/view.py", line 756, in invoke_exception_view
    raise HTTPNotFound
p

[2017-11-09 20:26] ericof commented on #143
@Fazik As I could not replicate that on a clean install I need to ask you more info:
* What is the OS/version?
* Are you running development|production.ini?
* How was your app created?

[2017-11-09 21:15] Fazik commented on #143
@ericof
OS: tested on Centos 7 / FreeBSD 11
Development.ini
pcreate -t websauna_app myapp
I simply used steps described in "Getting started" in documentation

[2017-11-09 22:19] Fazik commented on #143
@ericof
Just setuped Ubuntu instance - no difference.
If you want I can create ssh access for you to this new instance.

[2017-11-09 22:59] Fazik commented on #143
OK.
Found the root cause of this.
I was running ws-pserve under root and notebook's daemon did not like that.

[2017-11-10 06:17] ericof commented on #143
@Fazik Thanks for the update. I will write it down on the docs about this issue

[2017-11-10 06:17] #143 closed

[2017-11-10 06:21] ericof opened #145 "Support redis.session.url and websauna.celery_config.broker_url from the secrets file"

[2017-11-10 18:53] say2neeraj commented on #131
@ericof I am new to pyramid, can you please help - how can i sync this fix in current pyramid 1.9.1.
As currently i was trying to install websauna and postgres and i found this error.
I saw the documentation of pyramid and its updated upto 1.9.1a2.

[2017-11-14 15:16] Fazik opened #146 "Override websauna.system.user.models.User question"
Hi!
I'm trying to override default User class, but it is not really clear from documentation https://websauna.org/docs/narrative/user/user.html#creating-your-own-user-class how to do that

As I understand I need to add into myapp/__init__.py copy-past of original configure_user_models(self) with changed registry.registerUtility and attach_model_to_base like
`    def configure_user_models(self):

[2017-11-14 19:24] ooduor commented on #140
@mazz can you try running this command from one level above. As in `ws-create-user kjvrvg/conf/production.ini user@yahoo.com mypass --admin` I did encounter this sort of error initially when I got into websauna :)

[2017-11-16 17:06] Fazik commented on #146
Found how to deal with requirement without overriding models, but it will be good if documentation will be extended

[2017-11-29 11:05] koirikivi opened #149 "Probable bug in IdMapper"
https://github.com/websauna/websauna/blob/master/websauna/system/crud/urlmapper.py#L47

Unless there's some metaclass magic going on (and I don't think there is), `mapping_attribute` is class attr so setting `self.mapping_attribute` in `__init__`, will set it for the whole class (not just the instance), and will affect every instance of the class after that.

The same applies for other attributes

[2017-11-29 12:57] #145 closed

[2017-11-29 14:01] ericof commented on #149
The code sets instance attribute, not class attribute

[2017-11-29 14:01] #149 closed

[2017-12-02 13:54] enkidulan commented on #121
@ericof I've tested it against the latest master and it seems to be working fine. I also added some more tests for `simple_route` - https://github.com/websauna/websauna/pull/150.

[2017-12-07 13:03] mazz commented on #140
Sorry I'm slow on follow-up to this, been busy with a lead-up to release. Will follow-up once things get a bit quieter.

[2017-12-07 13:04] mazz commented on #146
@fazik or you could share your learnings somehow? Maybe in a blog post or even docs?

[2017-12-07 18:51] ztane opened #153 "Simplify `is_sane_database` code"
Currently the `is_sane_database` is needlessly complicated because it tries to check the column types etc. It also fails with objects that are not real tables (such as reflected tables), or some magical PostgreSQL constructs like functional columns.

It would be easier just to code so that it would try to issue `dbsession.query(Model).first()` against each table.

[2017-12-07 18:54] ztane opened #154 "`run_alembic` doesn't accept `include_object`, `exclude_object` functions"
websauna.system.devop.alembic.run_alembic doesn't accept `include_object`, `exclude_object` functions. Thus it is somewhat difficult to migrate DB's that have non-managed objects and such. Suggestion:

add `include_object`, `exclude_object` parameters for functions that could return `True`, `False` , yet still be subject to the websauna package filtering.

[2018-01-03 20:57] ericof opened #155 "AttributeError: 'super' has no attribute update_first_login_social_data"
A pristine Google user tries to log in (no previous data).

![image](https://user-images.githubusercontent.com/306014/34539480-e81cf834-f0d0-11e7-81c4-5e232d1aeda8.jpg)

[2018-01-04 18:55] ooduor opened #157 "Changing User's Username / Email in Admin Crashes"
To reproduce, after adding a new user. Try changing their username or email. Error only triggered when appstruct is different from object.

[code]

[2018-01-11 23:40] #157 closed

[2018-01-25 17:48] ztane commented on #98
The fix is *incorrect* in pre-pyramid-1.9 branch!

[2018-01-25 17:51] ztane commented on #155
The fix didn't land in pre-pyramid-1.9 (which also suffered from that)

[2018-01-25 18:49] ericof commented on #155
@ztane What is keeping you in that branch?

[2018-01-25 18:51] ericof commented on #98
@ztane Any other information? And again, could you move to the released version?

[2018-01-26 11:49] ericof commented on #155
Closing this, @jsbueno will move your app to the latest release

[2018-01-26 11:49] #155 closed

[2018-01-26 11:49] ericof commented on #98
Closing this, @jsbueno will move your app to the latest release

[2018-01-26 11:49] #98 closed

[2018-01-26 11:50] ericof commented on #121
Closing the issue

[2018-01-26 11:50] #121 closed

[2018-02-01 14:40] ztane opened #162 "UTCDateTime timezone usage is incorrect"
The timezone of Timestamp/DateTime should be a *boolean* not tzinfo

Generates warnings in recent versions of alembic too:

[code]

----

Quick and dirty fix in https://github.com/websauna/websauna/commit/01a174c8fd8bf82433c24a0b5a6f415e27e70e02 - in pre-pyramid-1.9 branch. Probably needs some documentation changes as well. Probably disable the use of `utc` altogether as a "valid" value.

[2018-02-06 22:47] #162 closed

[2018-03-14 20:35] kgk opened #166 "trouble with app testing: missing websauna.tests.fixtures"
I created an app (suana_test) that is working and am trying to get the tests running.

[code]

results in

[code]

Suggestions welcome..

[2018-03-27 19:15] ericof commented on #166
It seems you are using Python 2.7.
Could you, please try it with Python >=3.5.2?

[2018-03-27 19:15] #146 closed

[2018-03-28 18:50] slav0nic commented on #140
`mkdir -p logs` will solve you problem, maybe will be fine add logs folder to default app template

[2018-03-28 19:26] mazz commented on #140
I wasn't in the wrong dir, sorry about the noise.

[2018-03-28 19:26] #140 closed

[2018-03-28 19:35] slav0nic commented on #109
[code]

[2018-04-10 09:03] petri opened #171 "Websauna JSONB breaks SQLAlchemy query"
Websauna [JSONB column implementation](https://github.com/websauna/websauna/blob/master/websauna/system/model/columns.py#L52-L71) (that presumably supports both PostgreSQL & SQLite) breaks sqlalchemy behaviour on query. This happens **when using PostgreSQL**.

For example, something like `user.user_data["abc"] = 1` works, but a query such as `dbsession.query(User).filter(User.user_data["abc"] == 1

[2018-04-11 10:35] petri commented on #171
The only place where this JSONB implementation is actually used in Websauna (master) is in [usermixin.py](https://github.com/websauna/websauna/blob/master/websauna/system/user/usermixin.py#L22) .

[2018-04-12 11:34] petri commented on #171
For now as a workaround let's just change usermixin.py and leave this issue open; unless the Websauna JSONB implementation is to be dropped, it should be fixed.

Also see related: https://bitbucket.org/zzzeek/sqlalchemy/issues/3850/request-sqlite-json1-ext-support

[2018-04-17 14:03] enkidulan opened #174 "ModuleNotFoundError: No module named 'websauna.utils'"
Created a new app with cookiecutter and got `ModuleNotFoundError` when were trying to run `ws-alembic`:

[code]
Have tried with pip 9 and 10:
[code]

[2018-04-17 18:38] enkidulan commented on #174
Closing in favor to https://github.com/websauna/websauna.blog/issues/6

[2018-04-17 18:38] #174 closed

[2018-04-21 21:57] enkidulan opened #175 "Addons tests on `travis-ci` fails due to old version of `chromedriver`"
When I was working on https://github.com/websauna/websauna.blog/pull/7 I found out that tests on travis fail for no good reason. After investigation I have discovered that it was because the old version (`2.32`) of `chromedriver` had been used in [travis config](https://github.com/websauna/websauna.blog/blob/c92573524fd5db4cdb29e24e230c8f56de16d84c/.travis.yml#L49). Upgrading add-on's travis confi

[2018-04-22 17:47] #175 closed

[2018-04-26 11:30] koirikivi opened #176 "User.can_login doesn't check is_activated correctly"
Relevant code in https://github.com/websauna/websauna/blob/c6219fb52293f40f7b4ea3a1f2282e8469a3aa4c/websauna/system/user/usermixin.py

[code]

The final line should read `self.is_activated()`, not `self.is_activated`. Without the method call, it's always `True` as long as the user is enabled.

[2018-04-29 17:02] ericof commented on #44
New version of pyramid_celery fixes the issue, but we now depend only on celery

[2018-04-29 17:02] #44 closed

[2018-04-29 17:03] ericof commented on #6
Closing after no input

[2018-04-29 17:03] #6 closed

[2018-04-29 17:06] ericof commented on #72
Already implemented

[2018-04-29 17:06] #72 closed

[2018-04-30 07:44] ericof opened #179 "Celery 4.2.0 support"
Websauna Task implementation is not compatible with Celery 4.2.0

[2018-05-19 17:07] jgmtzmd opened #180 "installation in opensuse 42.3"
hi.
trying to install in opensuse 42.3
already installed dependencies:
Python (of course)
Redis
libxml2 (need "devel" package too)
PostgreSQL 9.6 (need "devel" package too)

but when running
`
pip install "websauna[celery,utils,notebook]"
`
i get the error..
`
    src/lxml/includes/etree_defs.h:23:32: fatal error: libxslt/xsltconfig.h: No existe el fichero o el directorio
     #include "libxslt/xs

[2018-05-19 17:16] jgmtzmd commented on #180
UPDATE: i was using python3.7 when the error came out. testedwith 3.6 and works fine.

[2018-05-19 17:35] jgmtzmd commented on #180
now:
`
~/workspace/websauna $ venv/bin/pip install -e git+https://github.com/websauna/websauna.git@master#egg=websauna[celery,utils,notebook] Obtaining websauna[celery,notebook,utils] from git+https://github.com/websauna/websauna.git@master#egg=websauna[celery,utils,notebook] Updating ./venv/src/websauna clone (to revision master) Complete output from command python setup.py egg_info: Traceback (m

[2018-05-21 13:07] ericof commented on #180
@jgmtzmd What is your setuptools version?

[2018-05-21 13:35] jgmtzmd commented on #180
setuptools              28.8.0

anyway, somehow i managed to install the project but now i am trying to make postgres work. thanks.

[2018-05-21 13:35] #180 closed

[2018-05-21 13:41] ericof commented on #180
As a suggestion, please use a newer version of setuptools and for psycopg2 try to install the psycopg2-binary package

[2018-05-27 04:15] jgmtzmd commented on #180
when i try to run "venv/bin/ws-alembic .."
i keep getting the error (psycopg2.OperationalError) FATAL:  authentication failed...

but when i run this simple script
[code]
using the same venv it works fine. that makes me think that psycopg and postgres server are working fine. what could it be?

[2018-05-28 12:00] ericof commented on #166
@kgk Any update?

[2018-06-24 18:54] #179 closed

[2018-06-24 19:08] ericof commented on #166
Closing after no updates

[2018-06-24 19:08] #166 closed

[2018-06-24 19:10] ericof commented on #85
Not using pyramid_mailer anymore.

[2018-06-24 19:10] #85 closed

[2018-06-25 19:48] #171 closed

[2018-07-24 09:32] elsampsa commented on #146
I'm having the same problem.  Has anyone figured out how to extend the standard user table?

[2018-08-25 12:07] 3x0dv5 opened #189 "Does not support Windows servers"
A WebSauna application doesn't seem to work on Windows at least not as a development machine. Couple of reasons:
1. Requires Redis as a session store
2. module : websauna/compat/typing.py has a posix import
          from posix import stat_result as stat_result

Could you confirm that this is the case? We cannot use a Windows machine to take the full potential of websauna?

[2018-08-25 17:06] 3x0dv5 opened #190 "only supports PostgreSQL?"
`def get_engine(settings: dict, prefix: str='sqlalchemy.') -> Engine:
    """Reads config and create a database engine out of it.

    :param settings: Application settings
    :param prefix: Configuration prefixes
    :return: SQLAlchemy Engine
    """
    url = settings.get('sqlalchemy.url')
    if not url:
        raise RuntimeError('sqlalchemy.url missing in the settings')

    if 'postgres' i

[2018-08-27 09:03] miohtama commented on #189
I suggest you use Windows Subsystem for Linux to run Websauna.

https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux

Windows support is not planned.

[2018-08-27 09:03] #189 closed

[2018-08-27 09:03] miohtama commented on #189
For more information see https://websauna.org/docs/tutorials/gettingstarted/tutorial_01.html?highlight=windows

[2018-08-27 12:12] 3x0dv5 commented on #189
I managed to make it work on Windows, but got to get rid of the redis session store.

[2018-08-27 12:15] 3x0dv5 commented on #190
I managed to make it work with other databases including sqlite, the blocker was the JSONB fields in the models User and Groups, but I used the package  ([sqlalchemy_jsonfield](https://github.com/penguinolog/sqlalchemy_jsonfield)) and it is working with Sqlite.

will never use sqlite on a prod server but it's very handy in a development environment.

[2018-09-06 14:40] slav0nic opened #192 "@simple_route break default custom notfound"
[code]
If i replace `@view_config` by `@simple_route("/",  route_name="home", renderer='main/home.html')` + remove `.add_route` default websauna 404 and other view not called (i see default pyramid error).

[2018-09-11 19:37] ericof commented on #192
@slav0nic Could you, please, add the following lines to your configuration file:
[code]
And try again?
(I was not able to reproduce the error here)

[2018-09-13 18:06] slav0nic commented on #192
it already was in my settings

[2018-09-23 14:17] ericof commented on #192
@slav0nic I created a new app using the cookiecutter, latest Websauna, added  and with
`pyramid.debug_notfound = false`
on the config and the 404 is the one from Websauna.

[2018-09-23 14:29] ericof opened #193 "Using celery.group raises AttributeError: 'WebsaunaLoader' object has no attribute 'request'"
Given the following code:
[code]
Will raise an AttributeError: 'WebsaunaLoader' object has no attribute 'request'
[code]

[2018-09-23 14:59] #193 closed

[2018-09-26 10:58] petri opened #195 "websauna epub is broken?"
Does not open in MacOS iBooks.

[2018-09-26 11:01] petri opened #196 "submit websauna docs as a contributed Dash docset"
See https://kapeli.com/docsets

[2018-09-26 15:50] ericof commented on #195
Confirmed, will fix soon

[2018-09-26 22:15] petri commented on #196
The builder has a bug; a fixed one is available here: https://github.com/koodaamo/sphinxcontrib-dashbuilder

[2018-10-10 15:52] ericof commented on #195
Fixed. Please take a look at the new version

[2018-10-10 15:52] #195 closed

[2018-10-10 17:12] petri commented on #195
I pulled master, went to docs, ran make epub & tried opening the resulting epub file in iBooks. Got the same error complaining the file is broken. This is on Macbook Pro, High Sierra.

[2018-11-01 15:55] ericof opened #206 "New implementation of ThreadTransactionManager breaks websauna"
The release 2.4.0 of transaction modified the implementation of ThreadTransactionManager (see the change in [this pull request](https://github.com/zopefoundation/transaction/pull/68)) and it broke a few things in websauna

Traceback:
[code]

[2018-11-01 16:40] #206 closed

[2018-11-12 02:34] bertjwregeer opened #209 "Use pgcrypto instead of uuid-ossp"
Unless you need any of the other features that are present in `uuid-ossp`, the recommendation since PostgreSQL 9.5 is to use the `pgcrypto` extension instead of `uuid-ossp` with `gen_random_uuid()` instead of `uuid_generate_v4()`.

The pgcrypto extension is better supported and apparently much less of a pain to install/compile and contains a lot of other goodies.

For example:

[code]

This way yo

[2018-11-15 16:52] slav0nic opened #210 "File Uploads functionality"
Will be fine have file upload functionality out of the box with features like:
  * storage
  * sqlalchemy integration
  * deform integration (add/edit/view with ability see preview for image types)
  * thumbnail generation in templates

I think https://github.com/amol-/depot/ integration will be a good start point, at least it have sqlalchemy fields (maybe will be fine rewrite it to json based fie

[2018-11-19 07:22] ztane opened #211 "csrf API in session nixed in Pyramid 1.9. Update to pyramid.csrf"
`request.session.get_csrf_token()` and alike don't work correctly any more if a custom CSRF protection token storage policy is in use. Must use `get_csrf_token(request)` et al from `pyramid.csrf`. Affects documentation, magic login, blog, etc alike.

Suggested fix: make `request.get_csrf_token()`, `new_csrf_token` work (add request method) and substitute as text in templates.

N.B. Some deform stu

[2018-11-22 12:47] jaspetry opened #212 "Websauna is not compatible with redis >= 3.0?"
Installing the recently released redis 3.0.1, which is pulled in by pip install websauna, causes an exception to be thrown on startup (Traceback edited for length):

***********
Traceback (most recent call last):
...
File "/python3.7/site-packages/websauna/system/core/redis.py", line 137, in is_sane_redis
    redis.set("websauna_session_test", True)
...
File "/python3.7/site-packages/redis/connect

[2018-11-25 02:11] #192 closed

[2018-12-07 21:11] slav0nic opened #213 "FormView.customize_schema() never called"
[Example](https://github.com/websauna/websauna/blob/3e321277dc3fa72c625f170b015c66aadb803d12/docs/source/narrative/form/autoform.rst#subclass-crud-view-and-override-customize-schema) from documentation is incorrect and `customize_schema` never called.

Looks like this functionality was [refactored few years ago](https://github.com/websauna/websauna/commit/950457c17402383942b0e40db5804299e80ccf3f#d

[2018-12-13 22:56] #212 closed

[2018-12-17 15:15] petri opened #215 "Have UUIDModelSet constructor take `label_column` as well"
The [UUIDModelSet](https://github.com/websauna/websauna/blob/master/websauna/system/form/sqlalchemy.py#L229) constructor accepts `model` and `match_column`, but there's one missing piece - ability to pass in `label_column` as well. Would make it more convenient to use UUIDModelSet as-is rather than via subclassing.

[2018-12-27 12:21] ericof commented on #190
@3x0dv5 We are currently working on support MySQL

[2018-12-27 16:10] #213 closed

[2018-12-27 17:38] #209 closed

[2018-12-28 13:43] #215 closed

[2019-01-21 05:16] jgmtzmd commented on #212
problem persists as of january 2019.
is it a bug that should be fixed in the redis library or is there something that can be fixed in websauna code base?

[2019-01-21 05:41] jgmtzmd commented on #180
update: silly mistake: i was following the tutorial but changed some names (project, etc..) this led me make the mistake of running the commands as in the tutorial and not adapting it to my names. For noobs like me i recommend to follow the README.rst file instead of the tutorial, in the README.rst the commands are adapted to the names defined with the cookiecutter.

[2019-01-21 08:53] slav0nic commented on #212
redis version was pinned to `<3` in master.
Current stable Celery version don't support redis v3 too, so it will make sense after celery v5 release (or maybe 4.3)

[2019-01-21 08:56] ericof commented on #212
I will do a release in the next days to deal with this.

[2019-04-04 10:28] franzos commented on #212
@ericof I'm still facing issues with this. I've made _cookiecutter_ install from master using

[code]

but running the initial migration, fails with

[code]

[2019-04-06 06:46] ooduor opened #221 "AttributeError: 'ThreadTransactionManager' object has no attribute '_retryable'"
### How to reproduce

Implement a forbidden view on admin akin to instructions on #51. This works well until latest releases which throw this errors.
[code]
### TLDR
Had to peg my websauna on 1.0a10 (bd821113ab9de5675a8ecebfd2c50bcfc60729e0). The error is still there on releases 1.0a11 and 1.0a12.

### In the wild
This seems like a variation of #206 and maybe be related to zopefoundation/transacti

[2019-04-07 16:02] emplab commented on #146
@elsampsa Did you succeed to do this task?
@Fazik Can you share your experience in solving this problem?

[2019-04-08 08:12] elsampsa commented on #146
sorry can't help.  Stopped using websauna a loong time ago ..

[2019-04-30 16:50] kgk opened #223 "notebook fails on startup: if "notebook_name" not in context: TypeError: argument of type 'NoneType' is not iterable"
Trying out websauna and interested in notebook functionality.

Tried install using pip install "websauna[celery,utils,notebook]" and from git with same result (after adjusting setup.py dependencies for redis).

`Starting server in PID 1693.
Serving on http://0.0.0.0:6543
[16:40:40] [websauna.system.core.redis log_redis_statistics] Redis connection statistics - process: 1693, thread: waitress, crea

[2019-04-30 21:04] kgk commented on #223
From the notebook log under /tmp/pyramid_notebbook

`cat notebook.stderr.log
Starting notebook, daemon True
Starting with context {'greeting': '\n\nAvailable variables and functions:\n\n* **app** - The [WSGI application](http://docs.pylonsproject.org/docs/pyramid/en/latest/api/paster.html?highlight=wsgi%20application#pyramid.paster.get_app) object generated by bootstrapping.\n* **request** - A [py

[2019-05-01 22:52] kgk commented on #223
Disabling ipv6 in /etc/hosts seems to resolve this issue.. still not sure why it was picked up.

#::1     localhost ip6-localhost ip6-loopback

[2019-05-01 22:52] #223 closed

[2019-05-31 21:17] khorn opened #225 "Redis sanity check incompatible with redis-py version 3+"
The ``websauna.system.core.redis`` module contains the following line (in the ``is_sane_redis`` function):

[code]

Setting boolean values is no longer supported in redis-py beginning with version 3.  See here:  https://pypi.org/project/redis/
(see the section entitled: "Encoding of User Input")

An obvious workaround is to downgrade redis-py to version <3, but other packages installed with websau

[2019-06-07 15:09] slav0nic commented on #225
Check https://github.com/websauna/websauna/issues/212

[2019-06-11 20:43] slav0nic opened #226 "wsgi filters break some cmd commands"
If i add some  filter to .ini like:
[code]
This part of code failed (cmd like `ws-settings` etc) with error `Configuration did not yield to Websauna application with Initializer set up`:
https://github.com/websauna/websauna/blob/5524757e545d27f1198b645626b9bea0a29e9c30/websauna/system/devop/cmdline.py#L130-L131

`get_wsgi_app` function return `myfilter`, that don't have `initializer` attr

[2019-06-16 09:59] slav0nic commented on #225
@ericof celery 4.3 was released with support py-redis >= 3.2 version
https://github.com/celery/celery/blob/e35ef96d365db797702b68fe5bcda7e312d49566/docs/whatsnew-4.3.rst#redis-message-broker

[2019-06-25 10:46] ericof commented on #225
Implemented by https://github.com/websauna/websauna/pull/227

[2019-06-25 10:46] #225 closed

[2019-06-26 12:01] slav0nic commented on #211
i think we must use csrf as is without linking to `request`, it templates `{{ get_csrf_token() }}` available, in deform we need only change one validator.
Also maybe make sense use `SessionCSRFStoragePolicy` as default.

[2019-07-01 11:16] slav0nic opened #232 "clean pyramid_tm related code"
`pyramid_tm.reify` is never be part of pyramid_tm packages, so it must be cleaned
https://github.com/websauna/websauna/blob/b6fafa8889981baa75176e6f4885d60475603680/websauna/system/auth/tweens.py#L17-L21

https://github.com/websauna/websauna/blob/b7b55254cca7c94fedd16992381a5e6fb136270c/websauna/system/core/views/internalservererror.py#L15-L18

[2019-07-02 09:34] slav0nic commented on #232
here is also some conversion from chat about `websauna.system.model.retry` functionality
https://gitter.im/websauna/websauna?at=5d1b077984e3391a5abbadc9
zope `transaction` package have some retry functionality:

[code]

maybe it make sense reuse it in websauna

[2019-07-02 22:45] slav0nic commented on #210
https://github.com/ooduor/websauna.depot

[2019-08-26 18:22] clickio opened #234 "official docker image for websauna"
I think a docker image will greatly help accelerate popularity, adoption and new volunteers. I volunteer in testing and promoting it.

[2019-09-04 16:49] blaisep commented on #234
Hi @clickio , I noticed that the docs still refer to legacy Ansible and legacy Python.... How about this, let's look into writing an Ansible playbook that builds a docker image and incorporate that into the project. That way we can produce a DRY solution that results in an enabling function for everyone else....?

[2020-05-21 16:13] kgk opened #239 "Websauna.org down for last couple of days.."
403 Forbidden
Code: AllAccessDisabled
Message: All access to this object has been disabled
RequestId: 079288B985E146DE
HostId: Gt/khURTpxN1f06CiIEhFfLgNxOpt7uFM+/f16k81kw+fDPXxEzCvedKSir1NaqxiTriTTjKHRI=

[2020-05-21 21:42] miohtama commented on #239
Fixed. Moved the site to Netlify and they are now automatically built.

[2020-05-21 21:42] #239 closed

[2020-05-28 05:19] kgk commented on #239
I think the documentation link was broken during the move.

[2020-05-28 20:41] kgk opened #240 "docs are dead on websauna.org"

[2020-05-30 04:10] Mero89 commented on #240
The links to documentation and examples are dead.
Please can you fix it?

[2020-06-06 19:29] miohtama commented on #240
Hi. Thank you. Sorry for the delay. The docs have been now moved to a new domain `docs.websauna.org` and should work from there.

[2020-06-06 19:29] #240 closed

[2020-08-10 19:47] ooduor commented on #154
**praise (close-issue?):** Looking at the source code, it looks like this issue was resolved in the mentioned milestones. There currently is an `include_object` function in `run_alembic`.

[2020-12-29 08:31] ooduor opened #241 "Tutorial Tests Broke with Latest Releases of SQLAlchemy"
Running tests using latest SQLAlchemy releases:
[code]

Lead to 4 crud tutorial test cases failing, namely:
[code]
This was due to the dropdown not being rendered. Not rendered because the mapper was not being evaluated.

https://user-images.githubusercontent.com/940630/103270603-8ff2fe00-4975-11eb-9c4a-6a883f36cd98.mp4

[2021-09-27 10:48] davidbcoulson commented on #94
no luck on this yet?